<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<property name="LOG_PATH" value="/tmp" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm} %-5level %class{36}.%M - %msg%n</Pattern>
		</layout>
	</appender>
	
	<appender name="INFO-FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_PATH}/changweb_info.log</file>
		<append>true</append>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm} %-5level %class{36}.%M - %msg%n</Pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="WARN-FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_PATH}/changweb_warn.log</file>
		<append>true</append>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm} %-5level %class{36}.%M - %msg%n</Pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>DENY</onMatch>
			<onMismatch>ACCEPT</onMismatch>
		</filter>
	</appender>
<!-- 
	<logger name="documentweb" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	 -->
	<logger name="documentweb" level="INFO">
		<appender-ref ref="INFO-FILE" />
		<appender-ref ref="WARN-FILE" />
	</logger>
	
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>