<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

		<title>Cover Template for Bootstrap</title>

		<!-- Custom styles for this template -->
		<link href="/staticfiles/css/cover.css" rel="stylesheet">
	</head>

	<body ng-app="coverModule" ng-controller="coverController as controller">

		<div class="site-wrapper">

			<div class="site-wrapper-inner ">

				<div class="cover-container">

					<div class="inner cover">
						<h1 class="cover-heading">W3 Document Repository<small>(opening)</small></h1>
						<!--<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
						<p class="lead">
						<a href="#" class="btn btn-lg btn-secondary">Learn more</a>
						</p>-->
					</div><!--col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4-->
					<input type="text" class="form-control" placeholder="EX) Java programming" ng-keydown="$event.which === 13 && controller.go()"  focus-me="true" ng-model="controller.searchString">
					<input class="btn btn-default searchbt" type="submit" value="Search" ng-click="controller.go()">
					<input class="btn btn-info formatbt" type="submit" value="Custom">
				</div>

			</div>

			<div class="mastfoot">
				<div class="inner">
					<p>
						Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.
					</p>
				</div>
			</div>

		</div>

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.1.js"></script>
		<script src="/staticfiles/js/cover.js"></script>
	</body>
</html>
