<!DOCTYPE html>
<html lang="en" ng-app="searchModule" ng-controller="resultController as controller">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

		<title>Result</title>

		<!-- Custom styles for this template -->
		<link href="/staticfiles/css/searchresult.css" rel="stylesheet">
	</head>

	<body>
		<div class="common-layout header-layout container" >
			<div class="row">
				<div class="col-xs-8">
					<div class="input-group">
						<input class="form-control" type="search" ng-keydown="$event.which === 13 && controller.go()" focus-me="false" placeholder="EX) Java programming" ng-model="controller.searchString">
						<span class="input-group-btn">
							<input class="btn btn-default searchbt " type="submit" value="Search" ng-click="controller.go()">
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="common-layout content-layout container" >
			<div class="row">
				<div class="col-xs-8 content-wrapper-outer" ng-repeat="object in controller.collection">
					<div class="content-wrapper container-fluid">
						<span class="col-xs-12 title" style="padding-left:0px;">{{object.title}}</span>
						<span class="col-xs-12" style="padding-left:0px;">
					    <a class="url"
						style="padding-left: 0px;" href="{{object.link}}">{{object.link}}</a>
					 	</span>
					 	<div class="col-xs-12 description " style="padding-left:0px;">
					 	<p style="max-height:5.1em;line-height:1.3em" changdotdotdot>  <small>{{object.date}} crawled </small>{{object.description}}
					</p></div></div>
				</div>
			</div>
		</div>
		<div class="common-layout" >

		</div>

		<script src="/staticfiles/js/jquery-2.2.2.min.js" type="text/javascript"></script>
		<script src="/staticfiles/js/jquery.dotdotdot.js" type="text/javascript"></script>
		
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.1.js"></script>
		<script src="/staticfiles/js/searchService.js"></script>
		<script src="/staticfiles/js/searchController.js"></script>
		<script src="/staticfiles/js/angular-dotdotdot.js" type="text/javascript"></script>
		<script>
		</script>

	</body>
</html>
